In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import json
from decouple import config
from urllib import request
import csv 
import datetime
import smtplib
from pandas import json_normalize
from sqlalchemy import create_engine
import psycopg2
from email.message import EmailMessage

In [286]:
DTC_username = config('DTC_username')
DTC_password = config('DTC_password')

DTC_payload = {'username': DTC_username, 'password': DTC_password}
loginurl = ('https://osteostrong.org/auth')
DTC_totals = []

with requests.session() as s:
    s.post(loginurl, data=DTC_payload)
    DTC_url = f'https://osteostrong.org/user/users?LocationId=00053'
    DTC_r = s.get(DTC_url).text
    jsondata=json.loads(DTC_r)    
    df=pd.json_normalize(jsondata,max_level=0)
    # franchisedata=df.drop(columns=['Admins'])
    # admindata=df.Admins.values[0]

In [ ]:
js = {'bucket_0': [{'key': 'foo',
   'level_1': {'bucket_1': [{'key': 'bar',
      'level_2': {'bucket_2': [{'key': 'baz', 'max': {'value': 100}}]}}]}}]}

df = pd.json_normalize(js["bucket_0"]).explode("level_1.bucket_1").set_index("key")
df = df["level_1.bucket_1"].apply(pd.Series).set_index("key", append=True)
df = df["level_2"].apply(pd.Series).explode("bucket_2")
df = df["bucket_2"].apply(pd.Series).set_index("key", append=True)
df["max"].apply(pd.Series).rename_axis(index=["l1","l2","l3"])

In [ ]:
# df=df.set_index('UserId')
sessions= pd.DataFrame(df.Sessions.values)

In [ ]:
for k,v in sessions.items:
    print(k,v)

In [ ]:
for k,v in sessions.items():
    print("\nPerson ID:", k)
    for key in v:
        try:
            print(key)
            print(v[key])

In [ ]:
listofdicks=df['Sessions.M.Core.L']

In [ ]:
for dict in listofdicks:
    for dic in dict:
        for di in dic:
            print(dic[di]['Date']['S'])

In [ ]:
df[['Sessions.M.Core', 'Sessions.M.Lower','Sessions.M.Postural', 'Sessions.M.Upper'].items()]

In [ ]:
items=list(df[['Sessions.M.Core']].items())

In [ ]:
pd.DataFrame(items)

In [ ]:
df_sessions=pd.DataFrame.from_dict(df, orient='index')

In [ ]:
df_sessions=df_sessions[['Sessions.M.Core']]

In [ ]:
new_df=pd.DataFrame.from_dict(df_sessions, orient='columns')

In [ ]:
x=new_df.to_dict()

In [ ]:
x.keys()

In [ ]:
x=pd.DataFrame(x)

In [ ]:
x.transpose()

In [ ]:
rows=[]
for data in jsondata:
    data_row=data["Sessions"].content()

In [ ]:
###########################################################################################################################################################

In [287]:
df

,RecieveText,HeightFt,UStatus,PrescriptionDensity,Weight,DataConsent,UserId,Positions,Exercise,Phone,...,HeightIn,FirstName,LastName,BirthYear,Fitness,NfcId,Active,PerfGain,OGT,Password
0,{'S': 'yes'},{'S': '5'},{'S': 'Active'},{'S': 'no'},{'S': '185'},{'S': 'yes'},{'S': '0073bc198c037e6e1b584dbe1126e469'},"{'M': {'Core': {'N': '5'}, 'Lower': {'N': '10'...",{'S': 'yes'},{'S': '2014173122'},...,{'S': '6'},{'S': 'John'},{'S': 'Young'},{'S': '1941'},{'S': '5'},NaN,NaN,NaN,NaN,NaN
1,{'S': 'yes'},{'S': '5'},{'S': 'Active'},{'S': 'no'},{'S': '148'},{'S': 'yes'},{'S': '00b8743866990c88af2082ee32c0a002'},"{'M': {'Core': {'N': '5'}, 'Lower': {'N': '8'}...",{'S': 'yes'},{'S': '3037261314'},...,{'S': '4'},{'S': 'Diane'},{'S': 'Cerveny'},{'S': '1952'},{'S': '10'},{'S': '24713375'},NaN,NaN,NaN,NaN
2,{'S': 'yes'},{'S': '5'},{'S': 'Active'},{'S': 'no'},{'S': '160'},{'S': 'yes'},{'S': '013cff5907375c757d5cee81b527e525'},"{'M': {'Core': {'N': '5'}, 'Lower': {'N': '12'...",{'S': 'no'},{'S': '3039407655'},...,{'S': '2'},{'S': 'Arnelle'},{'S': 'Burg'},{'S': '1951'},{'S': '5'},{'S': '08105701'},NaN,NaN,NaN,NaN
3,{'S': 'yes'},{'S': '6'},{'S': 'Active'},{'S': 'no'},{'S': '160'},{'S': 'yes'},{'S': '0192243155d20d0aa8188501c82c1dc8'},"{'M': {'Core': {'N': '7'}, 'Lower': {'N': '3'}...",{'S': 'yes'},{'S': '3038292343'},...,{'S': '4'},{'S': 'Darrian'},{'S': 'Leu-Pierre'},{'S': '2001'},{'S': '10'},NaN,NaN,NaN,NaN,NaN
4,{'S': 'yes'},{'S': '6'},{'S': 'Active'},{'S': 'no'},{'S': '210'},{'S': 'yes'},{'S': '0199f86a4fead020cb4844bd3352815a'},"{'M': {'Core': {'N': '6'}, 'Lower': {'N': '4'}...",{'S': 'yes'},{'S': '3039133032'},...,{'S': '0'},{'S': 'Richard'},{'S': 'Oliver'},{'S': '1953'},{'S': '10'},{'S': '02319831'},NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,{'S': 'yes'},{'S': '5'},{'S': 'Active'},{'S': 'no'},{'S': '145'},{'S': 'yes'},{'S': 'fe8fcc526e34cd76f81a3e3ea4ba8147'},"{'M': {'Core': {'N': '3'}, 'Lower': {'N': '12'...",{'S': 'yes'},{'S': '3039109198'},...,{'S': '1'},{'S': 'Dianne'},{'S': 'Hoon'},{'S': '1942'},{'S': '10'},{'S': '07134255'},NaN,NaN,NaN,NaN
1479,{'S': 'yes'},{'S': '5'},{'S': 'Active'},{'S': 'no'},{'S': '135'},{'S': 'yes'},{'S': 'feb45b8a2123ced22c93f12cabff1b16'},"{'M': {'Core': {'N': '5'}, 'Lower': {'N': '10'...",{'S': 'yes'},{'S': '7204694712'},...,{'S': '8'},{'S': 'Lillian'},{'S': 'Prymak'},{'S': '1960'},{'S': '5'},{'S': '07136150'},NaN,NaN,NaN,NaN
1480,{'S': 'yes'},{'S': '5'},{'S': 'Active'},{'S': 'no'},{'S': '200'},{'S': 'yes'},{'S': 'ffb1d9069efa313dc2e667a225c16bab'},"{'M': {'Core': {'N': '5'}, 'Lower': {'N': '7'}...",{'S': 'no'},{'S': '3036983293'},...,{'S': '7'},{'S': 'Suzan'},{'S': 'Sailor'},{'S': '1955'},{'S': '10'},{'S': '22455069'},NaN,NaN,NaN,NaN
1481,{'S': 'yes'},{'S': '5'},{'S': 'Active'},{'S': 'no'},{'S': '128'},{'S': 'yes'},{'S': 'ffca66d304bee6964cf3f349c8609400'},"{'M': {'Core': {'N': '5'}, 'Lower': {'N': '9'}...",{'S': 'no'},{'S': '9707697109'},...,{'S': '4'},{'S': 'Alexa'},{'S': 'Arribau'},{'S': '1976'},{'S': '5'},NaN,NaN,NaN,NaN,NaN
1482,{'S': 'yes'},{'S': '5'},{'S': 'Active'},{'S': 'no'},{'S': '160'},{'S': 'yes'},{'S': 'fff5aeadb59ea35a229cc9c9a0a2acb9'},"{'M': {'Core': {'N': '5'}, 'Lower': {'N': '7'}...",{'S': 'yes'},{'S': '3035706575'},...,{'S': '10'},{'S': 'Kathleen'},{'S': 'Courtney'},{'S': '1973'},{'S': '10'},{'S': '07149591'},NaN,NaN,NaN,NaN